.clock {
    font-weight: bold;
    font-size: 200px;
    margin: 0;
    user-select: none;
    cursor: move;
    color: gray;
}

.clock span {
    color: black;
}

.warning-text {
    color: white;
    animation: blink 0.3s 16 0.5s;
}

.warning-background {
    background: rgba(255, 0, 0, 1);
}
