*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    overflow: hidden;
}

@keyframes blink {
    30%, 60% {
        opacity: 0;
    }
}

.github-ribbon {
    user-select: none;
}
