.note {
    cursor: move;
    position: absolute;
    border: 10px solid navajowhite;
    padding: 10px;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    display: block;
    background: white;
}

.note legend {
    user-select: none;

    position: absolute;
    right: -10px;
    top: -10px;

    background: #f9675d;
    color: white;

    padding: 20px 10px 15px 10px;
    font-weight: normal;
    font-size: 33px;
    line-height: 0;
    font-family: fantasy;
    border-radius: 3px;
    cursor: pointer;
}

.note legend:hover {
    background: #dd5750;
}

.note textarea {
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    outline: none;
    margin: 0 5px;
    overflow: hidden;
}
