.note {
    cursor: move;
    position: absolute;
    border: none;
    padding: 5px 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
}

.note legend {
    user-select: none;
    font-size: 20px;
    padding: 2px 10px;
}

.note textarea {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    outline: none;
    margin: 0 5px;
    overflow: hidden;
}

.note,
.note legend {
    background: antiquewhite;
}

.note:focus-within,
.note:focus-within legend {
    background: navajowhite;
}
